html{
    scroll-behavior: 0;
}

body{
    margin: 0;
    background-image: url(https://cdn.suwalls.com/wallpapers/photography/telescopes-at-dusk-37852-3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#app{
    width: 100%;
}

.loading-font{
    text-align: center;
    font-family: News Cycle;
    margin-top: 30vh;
    font-size: 40px;
    color: white;
}

.title h1{
    color: white;
    text-align: center;
    font-family: Alata;
    font-size: 90px;
    margin-top: 20px;
    font-weight: lighter;
}

.input-group{
    max-width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#result-box{
    overflow: auto;
    height: calc(100vh - 50vh + 20px);
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1000px){
    .title h1{
        font-size: 30px;
    }

    #result-box{
        height: 70vh;
    }
}

.resultcard{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10;
    margin-top: 10;
    border-radius: 10px;
}

.resultcard a{
    color: black;
    font-weight: bolder;
}

::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar{
    width: 7px;
}

@media (min-width: 1000px){
    .obsbox-handler{
        display: flex;
    }

    .obsbox-data{
        color: white;
        padding-left: 20px;
    }
}

@media (max-width: 1000px){
    .obsbox-data{
        color: white;
        padding-top: 20px;
    }
}
